<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-register.css') }}">
    <link rel="icon" href="https://cdn2.steamgriddb.com/icon/7316e11fe78963395fbab4a85d0b8f85/32/256x256.png">

</head>
<body>
    <main>
        <div class="container">
            <div class="title-box">
                <img src="{{ url_for('static', filename='images/kalegrande.webp') }}" alt="Comerciante Kale">
                <h2>Tienda del Comerciante Kale</h2>
            </div>
            <form action="{{ url_for('register') }}" method="POST" class="form-box">
                <input type="text" name="nombre_usuario" placeholder="Nombre de usuario" required>
                <input type="password" name="contraseña" placeholder="Contraseña" required>
                <button type="submit">Registrarse</button>
                <p>¿Ya tienes cuenta? <a href="{{ url_for('login') }}">Inicia sesión aquí</a></p>
            </form>
            
            <!-- Contenedor para mensajes de error -->
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <div class="message-box">
                        {% for category, message in messages %}
                            <div class="alert {{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            
        </div>
    </main>
</body>
</html>
